body {
	margin: 0px;
	padding: 0px;
}

*{
	margin: 0px;
	padding: 0px;
}

#banner {
	background-color: #427AA1;
	background-image: url("banner_background.jpg");
	background-size: cover;
	background-position: center;
	margin: 0px;
	height: 30vh;
	display: flex;
}

#banner *{
	display: inline-block;
}

#banner #logo{
	float: left;
	clear: both;
}

#banner #willkommen {
	font-family: Georgia;
}

#willkommen *{
	display: block;
	color: #FFE400;
	text-shadow: 3px 3px #000000;
}

#banner #willkommen h1{
	margin-bottom: 1%;
	font-size: 15vmin;
}

#banner #willkommen h2{
	margin-top: 0px;
	font-size: 7vmin;
	white-space: nowrap
}

#logo {
	height: 30vmin;
}
