body {
	margin: 0px;
	padding: 0px;
}

*{
	margin: 0px;
	padding: 0px;
}

#banner {
	background-color: #427AA1;
	background-image: url("banner_background.jpg");
	background-size: cover;
	background-position: center;
	margin: 0px;
	height: 30vh;
	display: flex;
}

#banner *{
	display: inline-block;
}

#banner #logo{
	float: left;
	clear: both;
}

#banner #willkommen {
	font-family: Georgia;
}

#willkommen *{
	display: block;
	color: #FFE400;
	text-shadow: 3px 3px #000000;
}

#logo {
	height: 30vmin;
}

/* banner text size */

#banner #willkommen h1{
	margin-bottom: 1%;
	font-size: 6vh;
}

#banner #willkommen h2{
	margin-top: 0px;
	font-size: 3vh;
}

@media (min-width:900px) {
	#banner #willkommen h1{
		margin-bottom: 1%;
		font-size: 10vmin;
	}
	#banner #willkommen h2{
		margin-top: 0px;
		font-size: 5vmin;
	}
}

@media (min-width:1300px) {
	#banner #willkommen h1{
		margin-bottom: 1%;
		font-size: 14vmin;
	}
	#banner #willkommen h2{
		margin-top: 0px;
		font-size: 7vmin;
		white-space: nowrap
	}
}
