*{
    font-family: Arial;
}

.mainframe {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 20px;
    padding-bottom: 20px;
}

.text {
	font-size: 20px;
}

#textframe {
	background: #5a6839;
}

#textnews {
	width: 100%;
	color: #ffffff;
}

#twitter {
	width: 100%;
	max-height: 800px;
	overflow-y: auto;
	overflow-x: hidden;
}

#twitter iframe {
	background: #ffffff;
}

#location {
  background: #444;
}

a {
	color: #FFE400;
}

a:hover {
	color: #fff;
}

