*{
    font-family: Arial;
}

.mainframe {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 20px;
    padding-bottom: 20px;
}

.text {
	font-size: 20px;
    /*display: flex;*/
    width: 50%;
}

#textnews {
	background: #5a6839;
    justify-content: space-between;
    display: flex;
    
}

#news {
    /*display: flex;*/
    width: 30%;
}

#location {
    background: #444;
}
